@use "../../partials/variables" as *;

.completedbattle-row {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: $table-background--dark;
  &__combatants {
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
  }
  &__details {
    display: flex;
    width: 18.875rem;
    padding: 0.25rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  &__team {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1 0 0;
    &--winner {
      color: $dark-angels-2;
      font-weight: 700;
    }
    &--vanquished {
      color: $blood-angels-2;
      font-weight: 700;
    }
    &--none {
      display: none;
    }
  }
}
