@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.rank-graph {
  display: none;
  @include desktop {
    padding: 2rem 3rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrap {
      height: 75vh;
      width: 100%;
      max-width: 1000px;
      border-radius: 1rem;
      background-color: $table-background--light;
    }
  }
}
