@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.army-ally {
  display: flex;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1280px;
  @include tablet {
    width: 100%;
    padding: 0rem;
    gap: 1.5rem;
  }
  @include desktop {
    padding: 0rem;
    gap: 2rem;
  }
  &__title {
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    text-align: left;
    width: 100%;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__header {
    width: 100%;
  }
  &__army-card {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-radius: 1rem;
    background: $table-background--light;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &__txt {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.5rem;
    background: #f2f2f2;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    width: 70%;
    @include tablet {
      font-size: 1.25rem;
      padding: 0.75rem 1rem;
    }
    @include desktop {
      font-size: 1.5rem;
      padding: 1rem 1.25rem;
    }
  }
  &__subtxt {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
    background: none;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__army-wrap {
    width: 50%;
  }
  &__undefined-text {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.5rem;
    background: #f2f2f2;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    @include tablet {
      font-size: 1.25rem;
      padding: 0.75rem 1rem;
    }
    @include desktop {
      font-size: 1.5rem;
      padding: 1rem 1.25rem;
    }
  }
}
