@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.battle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  @include tablet {
    gap: 0.5rem;
  }
  @include desktop {
    gap: 0.75rem;
  }
  &__army {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid #000;
    background-color: $background-1;
  }

  &__text {
    color: white;
    margin: 0;
    text-align: center;
    @include tablet {
      font-size: 1.25rem;
    }
    @include tablet {
      font-size: 1.75rem;
    }
  }
  &__player-info {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    padding: 0rem 0.25rem;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.35rem;
    }
  }
  &__player-rank {
    margin: 0;
  }
  &__player-name {
    margin: 0;
  }

  &__rank-txt {
    font-size: 0.5rem;
    text-transform: uppercase;
    margin: 0;
  }
}

@include army_colours;
