@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.create-battle {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../../assets/battleground-scene .jpg"),
    lightgray 50% / contain no-repeat;
  object-fit: fill;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 5rem 1rem;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  @include tablet {
    height: 200vh;
  }
  &__section {
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 30rem;
    margin: 0 auto;
    @include desktop {
      margin-top: 6rem;
    }
  }
  &__back-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    top: 1.5rem;
    left: 8px;
    &:hover {
      cursor: pointer;
      background-color: white;
      border-radius: 8px;
    }
  }
  &__header {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
  }
  &__label {
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    &--date {
      width: 48%;
    }
  }
  &__date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.675rem;
  }
  &__select {
    display: flex;
    padding: 1.1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 4px;
    background: #fff;
    font-size: 1rem;
    border: 0.5px solid $space-wolves-3;
    &--error {
      border: 1px solid $blood-angels-5;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
  }
  &__input {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 4px;
    border: 0.5px solid $space-wolves-3;
    outline: none;
    font-size: 1rem;
    background: #fff;
    &--error {
      border: 1px solid $blood-angels-5;
    }
  }
  &__combatant {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      align-items: flex-start;
      justify-content: space-between;
      align-self: stretch;
    }
    &-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;
      width: 100%;
    }
    &-edit-row {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  }
  &__remove {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
  }
  &__add {
    background-color: $dark-angels-2;
    padding: 0.75rem 1rem;
    color: white;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    &:hover {
      background-color: $dark-angels-5;
      cursor: pointer;
      text-decoration: underline;
    }
    &--disabled {
      @extend .create-battle__add;
      background-color: $background-vanquished;
      color: $table-background--light;
      &:hover {
        background-color: $background-vanquished;
        cursor: auto;
        text-decoration: none;
      }
    }
  }
  &__create {
    display: flex;
    padding: 0.75rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 1rem;
    border: 1px solid #000;
    background-color: $dark-angels-1;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
      background-color: $dark-angels-5;
      cursor: pointer;
      text-decoration: underline;
    }
    @include tablet {
      border: 2px solid #000;
    }
  }
  &__success-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  &__error {
    font-size: 0.65rem;
    font-style: italic;
    font-weight: 600;
    color: $blood-angels-2;
    &--hide {
      display: none;
    }
  }
}

.MuiInputBase-root {
  background-color: #fff;
  outline: none;
}
