@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.dateheader {
  display: flex;
  padding: 0.375rem 3.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background: $background-1;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.5rem;
  @include tablet {
    font-size: 1.25rem;
    padding: 1rem;
  }
  @include desktop {
    font-size: 1.25rem;
    padding: 1.5rem;
  }
}
