@use "../../partials/mixins" as *;

.hero {
  display: flex;
  padding: 2rem 1.5rem;
  padding-top: 8.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../../assets/birdseye-battle.png), lightgray 100%;
  object-fit: contain;
  background-position: center;
  background-size: cover;

  @include tablet {
    padding: 4rem 3rem;
    padding-top: 10rem;
    gap: 3rem;
  }
  @include desktop {
    flex-direction: row;
    align-items: flex-end;
    padding: 8rem;
    gap: 4rem;
  }

  &__button-wrap {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    @include tablet {
      gap: 1rem;
    }
    @include desktop {
      gap: 1.5rem;
      flex-direction: column;
    }
  }

  &__title {
    z-index: 3;
    color: white;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      font-size: 5rem;
      line-height: 6rem;
    }
  }
  &__logo {
    display: none;
    @include desktop {
      display: block;
      justify-self: flex-start;
      width: 8rem;

      margin: 0 auto;
    }
    &-wrap {
      @include desktop {
        position: absolute;
        bottom: 150%;
        z-index: 4;
        top: 1.5rem;
        right: 2rem;
      }
    }
  }
}
