@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.add-army {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../../assets/battleground-scene.jpg"),
    lightgray 50% / contain no-repeat;
  object-fit: fill;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 8rem 1rem;
  flex-direction: column;
  align-items: center;
  min-height: 120vh;
  padding-bottom: 6rem;
  @include desktop {
    padding-top: 6rem;
  }
  &__section {
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
  }
  &__back-arrow {
    position: absolute;
    top: 1.5rem;
    display: flex;
    align-items: center;
    left: 8px;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: white;
      border-radius: 8px;
    }
  }
  &__header {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
  }
  &__success-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  &__add {
    display: flex;
    padding: 0.5rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 1.5rem;
    border: 1px solid #000;
    background-color: $dark-angels-1;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &:hover {
      background-color: $dark-angels-5;
      cursor: pointer;
      text-decoration: underline;
    }
    @include tablet {
      padding: 0.75rem 2.5rem;
    }
    @include desktop {
      padding: 1rem 2.5rem;
      font-size: 1.25rem;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  &__select {
    display: flex;
    padding: 1.1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 4px;
    background: #fff;
    font-size: 1rem;
    border: 0.5px solid $space-wolves-3;
    &--error {
      border: 1px solid $blood-angels-5;
    }
  }
  &__input {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 4px;
    border: 0.5px solid $space-wolves-3;
    outline: none;
    font-size: 1rem;
    background: #fff;
    &--error {
      border: 1px solid $blood-angels-5;
    }
  }
  &__emblem-wrap {
    background-color: $space-wolves-2;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &__error {
    font-size: 0.65rem;
    font-style: italic;
    font-weight: 600;
    color: $blood-angels-2;
    &--hide {
      display: none;
    }
  }
}
