@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.player-type {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  text-align: center;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @include tablet {
    font-size: 0.875rem;
    padding: 0.35rem 0.75rem;
  }
  @include desktop {
    font-size: 1.2rem;
    padding: 0.35rem 1rem;
  }
  &--single {
    border: 3px solid $blood-angels-1;
    color: $blood-angels-1;
  }
  &--multi {
    border: 3px solid $dark-angels-2;
    color: $dark-angels-2;
  }
  &__text {
    margin: 0;
  }
}
