.emblem-hero {
  display: block;
  margin: 0 auto;
  width: 80vw;
  &__container {
    position: absolute;
    height: 80%;
    top: 25%;
    left: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
    opacity: 40%;
  }
}
