@use "../../../../partials/variables" as *;
@use "../../../../partials/mixins" as *;
.signup {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../../../../assets/battle-scene-4.jpg"),
    lightgray 50% / contain no-repeat;
  object-fit: contain;
  background-position: right;
  background-size: cover;
  display: flex;
  padding: 2rem 3rem 10rem 3rem;
  flex-direction: column;
  align-items: center;
  gap: 2.75rem;
  height: 200vh;
  &__error {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $blood-angels-5;
    margin: 0;
    &--hidden {
      display: none;
    }
    &--visible {
      display: block;
      align-self: stretch;
    }
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__success {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $dark-angels-4;
    margin: 0;
    &--hidden {
      display: none;
    }
    &--visible {
      display: block;
      align-self: stretch;
    }
  }
  &__form {
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 29rem;
    margin: 0 auto;
    width: 100%;

    @include tablet {
      padding: 2rem;
      gap: 1.5rem;
    }
    @include desktop {
      padding: 3rem;
      gap: 2rem;
    }
    &-title {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin: 0;
      @include tablet {
        font-size: 1.5rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }
    &-forgot {
      align-self: stretch;
      color: #35628b;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      @include tablet {
        font-size: 0.9rem;
      }
      @include desktop {
        font-size: 1rem;
      }
    }
  }
  &__submit-button {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width: 100%;
    font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #000;
    text-decoration: none;
    background: $dark-angels-2;
    &:hover {
      background: $dark-angels-1;
      cursor: pointer;
      text-decoration: underline;
    }
    @include tablet {
      font-size: 1rem;
      border: 2px solid $ultramarine-1;
    }
    @include desktop {
      font-size: 1.25rem;
      padding: 1rem;
    }
  }
  &__emblem-wrap {
    background-color: $space-wolves-2;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    align-self: flex-start;
  }
  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.625rem;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: normal;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__select {
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid $dark-angels-6;
      outline: none;
    }
    &::placeholder {
      color: #7c7c7c;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @include tablet {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 1.2rem;
      }
    }
    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.2rem;
    }
  }
}
