@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.user-dash {
  display: flex;
  padding: 3.5rem 1rem 2rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-color: $dark-angels-1;
  border-radius: 0rem 0rem 2rem 2rem;
  @include tablet {
    padding: 4rem 3rem;
    gap: 3rem;
    border-radius: 0rem 0rem 3rem 3rem;
  }
  @include desktop {
    padding: 6rem 8rem;
    gap: 4rem;
    border-radius: 0rem 0rem 3.5rem 3.5rem;
  }
}
