@use "../../../../partials/variables" as *;
@use "../../../../partials/mixins" as *;
.emblem-hero {
  display: block;
  margin: 0 auto;
  height: 65vh;
  width: auto;
  max-width: 90vw;
  z-index: 0;
  &__container {
    position: absolute;
    height: 80%;
    top: 36px;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 0;
    opacity: 40%;
  }
}
