$tablet-breakpoint: 768px;
$desktop-breakpoint: 1000px;

$background-1: #222222;

$background-2: #393939;
$background-3: #4f4f4f;
$background-4: #2d2d2d;
$background-winner: #e6f2e6;
$background-vanquished: #ffe0e0;

$table-background--dark: #c1c1c1;
$table-background--light: #c9c9c9;
$table-background--hover: #cee4cf;
$table-header: #b0b0b0;

$blood-angels-1: #8b090b;
$blood-angels-2: #9f1110;
$blood-angels-3: #8e333a;
$blood-angels-4: #962f32;
$blood-angels-5: #e24739;
$blood-angels-6: #9f1110;

$ultramarine-1: #1c364f;
$ultramarine-2: #293c5c;
$ultramarine-3: #36618e;
$ultramarine-4: #35628b;
$ultramarine-5: #0d407f;

$dark-angels-1: #508954;
$dark-angels-2: #4b7547;
$dark-angels-3: #6a6955;
$dark-angels-4: #51834e;
$dark-angels-5: #324c30;
$dark-angels-6: #77c07f;

$space-wolves-1: #677d94;
$space-wolves-2: #1a2129;
$space-wolves-3: #90acad;
$space-wolves-4: #96c1ca;
$space-wolves-5: #253741;
$space-wolves-6: #4f676b;

$lizardmen-1: #0b536e;
$lizardmen-1: #07808e;

// 40k Colours
$tau: #bf6e1d;
$orks: #006400;
$leaguesofvotann: #fdb825;
$genestealercult: #ca4c12;
$tyrannids: #800080;
$drukhari: #471f5f;
$aelderi: #009b77;
$chaosdemons: #af0602;
$worldeaters: #6a0001;
$thousandsons: #18abcc;
$deathguard: #808000;
$chaosspacemarines: #0f0f0f;
$astramilitarum: #00401f;
$adeptusmechanicus: #c2191f;
$adeptuscustodes: #a97142;
$adeptussororitas: #a99058;
$greyknights: #c3cace;
$deathwatch: #888d8f;
$salamanders: #008000;
$whitescars: #a41313;
$snakebites: #fcb825;
$gofforks: #231f20;
$bloodaxes: #394592;

// Fantasy Colours
$skaven: #008000;
$tzeentchdaemons: #4cc7de;
$highelves: #3493b5;
$daemonsofnurgle: #5e6b30;
$woodelves: #384728;
$empire: #e3c646;
$warriorsofchaostzeentch: #57656e;
$warriorsofchaos: #111317;
$warriorsofchaosnurgle: #53670f;
$slaanesh: #cd3070;
$darkelves: #473b7f;
$beastmen: #a81c00;
$warriorsofchaoskhorne: #853a30;
$daemonsofkhorne: #b31800;
$dwarves: #254435;
$vampirecounts: #640c3b;
$nightgoblins: #042007;
$ogrekingdoms: #987954;
$orcsandgoblins: #58ac49;
$savageorcs: #94bb8c;
$barrowkings: #630808;
