@use "../../partials/mixins" as *;
.header {
  position: absolute;
  top: 16px;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  z-index: 1;
  @include desktop {
    display: none;
  }
  &__img {
    width: 4rem;
    height: auto;
    @include tablet {
      width: 6rem;
    }
  }
}
