@use "../../../../partials/mixins" as *;
@use "../../../../partials/variables" as *;

.new-battle-card {
  &__combatant {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    height: 100%;
    width: 100%;
  }
  &__emblem-wrap {
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    order: 1;
    background-color: $background-2;
    @include tablet {
      padding: 0.75rem;
    }
    &--two {
      order: 2;
    }
  }
  &__player {
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    padding: 0.75rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%;
    order: 2;
    @include tablet {
      padding: 1rem 0.75rem;
    }
    &--two {
      order: 1;
      align-items: flex-end;
    }
    &-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.175rem;
      margin: 0;
      &--two {
        text-align: end;
      }
      &-name {
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        text-align: inherit;
        width: 100%;
        margin: inherit;
        @include tablet {
          font-size: 1.25rem;
        }
      }
      &-rank {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        text-align: inherit;
        width: 100%;
        margin: inherit;
        @include tablet {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@include army_colours;
