@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $background-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include desktop {
    background-color: $background-4;
  }
}

body {
  margin: 0;
}

main {
  width: 100%;
}
