@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.user-dash-rankings {
  display: flex;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    padding: 3.5rem 3rem;
  }
  @include desktop {
    padding: 4rem 4rem;
  }
  &__title {
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 3rem;
    }
    &-wrap {
      display: flex;
      padding-bottom: 1.5rem;
      align-items: center;
      gap: 0.625rem;
      align-self: stretch;
      @include tablet {
        padding-bottom: 2rem;
      }
      @include desktop {
        font-size: 3rem;
      }
    }
  }
  &--fantasy {
    background-color: $background-2;
    @include desktop {
    }
  }
}
