@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage {
  &__ranking-wrap {
    width: 100%;
    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      background: $background-4;
    }
  }
  &__rankings {
    order: 2;
    @include desktop {
      display: flex;
      flex-direction: row;
      width: 100%;
      order: 3;
      background: $background-1;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.section--hide {
  display: none;
}
